body{
  background-color:lightblue;
  font-size: 15px;
}

p{
	  border-bottom-style: solid;
  border-bottom-width: thin;
   background-color: coral;
   font-size: 15px;
}
    .myClass {
      color:blue;
      background:black;
    }

button {
  background-color: #09757d;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}